# 네이버 주식 페이지 크롤링하기
## 필요한 라이브러리 불러오기

In [2]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import random
import time

## 전체목록 받아오기

In [3]:
# 크롤링할 사이트

base_url = "https://finance.naver.com/item/sise_day.nhn?code=035720&page="

In [4]:
table = pd.read_html(base_url)
table[0].dropna()

            날짜        종가      전일비        시가        고가        저가        거래량
1   2020.08.12  353500.0   1000.0  348500.0  355000.0  347500.0   475785.0
2   2020.08.11  352500.0   3500.0  351500.0  357000.0  347500.0   750285.0
3   2020.08.10  356000.0   3000.0  346000.0  358500.0  341500.0  1086391.0
4   2020.08.07  353000.0  11000.0  368000.0  370000.0  350500.0  1899111.0
5   2020.08.06  364000.0   6500.0  358500.0  372500.0  357500.0  1848898.0
9   2020.08.05  370500.0    500.0  366000.0  371000.0  362500.0  1075879.0
10  2020.08.04  370000.0   4000.0  378500.0  384000.0  361000.0  1714642.0
11  2020.08.03  366000.0  22500.0  347500.0  366000.0  347000.0  1636803.0
12  2020.07.31  343500.0  11500.0  336000.0  344000.0  335500.0  1078837.0
13  2020.07.30  332000.0    500.0  336000.0  337000.0  331500.0   615872.0

In [5]:
random_time = np.random.uniform(0, 3)
random_time

1.8355182131432373

In [9]:
from tqdm import tqdm, trange

In [10]:
start_page_no = 1
end_page_no = 10

In [35]:
all_sise = []

def crawling_sise(pnum):
    url = f"{base_url}{pnum}"
    response = requests.get(url)
    
    if response.status_code == 200:
        table = pd.read_html(url)
        return table
    else:
        return False

In [36]:
all_table = []
for pnum in trange(start_page_no, end_page_no + 1):
    time.sleep(random_time)
    table = crawling_sise(pnum)
    
    if table:
        all_table.extend(table)
        all_table

100%|██████████| 10/10 [00:20<00:00,  2.01s/it]

In [39]:
def slicing(num):
    if num:
#         pnum = start_page_no
        num = (pnum * 2)+ 1
    return all_table[num].dropna()

In [40]:
slicing = []
for i in range(10):
    slicing.append(all_table[(i*2)].dropna())
slicing

[            날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.08.12  355000.0   2500.0  348500.0  355500.0  347500.0   503422.0
 2   2020.08.11  352500.0   3500.0  351500.0  357000.0  347500.0   750285.0
 3   2020.08.10  356000.0   3000.0  346000.0  358500.0  341500.0  1086391.0
 4   2020.08.07  353000.0  11000.0  368000.0  370000.0  350500.0  1899111.0
 5   2020.08.06  364000.0   6500.0  358500.0  372500.0  357500.0  1848898.0
 9   2020.08.05  370500.0    500.0  366000.0  371000.0  362500.0  1075879.0
 10  2020.08.04  370000.0   4000.0  378500.0  384000.0  361000.0  1714642.0
 11  2020.08.03  366000.0  22500.0  347500.0  366000.0  347000.0  1636803.0
 12  2020.07.31  343500.0  11500.0  336000.0  344000.0  335500.0  1078837.0
 13  2020.07.30  332000.0    500.0  336000.0  337000.0  331500.0   615872.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.07.29  331500.0   2000.0  329000.0  333000.0  325000.0   618435.0
 2   2020.07.28  329500.0   3000.0  332000.0  336000.0  328500.0   873063.0
 3   2020.07.27  326500.0   2000.0  321000.0  329500.0  320500.0   603322.0
 4   2020.07.24  324500.0   5000.0  325000.0  333000.0  322000.0   907643.0
 5   2020.07.23  329500.0  11500.0  316500.0  329500.0  315000.0  1260435.0
 9   2020.07.22  318000.0   2000.0  310500.0  321500.0  306000.0  1159298.0
 10  2020.07.21  316000.0   6000.0  323500.0  326000.0  311500.0  1676630.0
 11  2020.07.20  310000.0  15000.0  325000.0  325000.0  310000.0  1534422.0
 12  2020.07.17  325000.0   3000.0  319000.0  327000.0  314000.0  1268587.0
 13  2020.07.16  322000.0  15500.0  332000.0  335500.0  319000.0  1941508.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.07.15  337500.0   5500.0  344000.0  349500.0  332000.0  1487417.0
 2   2020.07.14  343000.0   9000.0  340500.0  346500.0  340000.0  1212519.0
 3   2020.07.13  352000.0   3500.0  359000.0  361000.0  345000.0  1391744.0
 4   2020.07.10  355500.0      0.0  351000.0  368000.0  345500.0  2566935.0
 5   2020.07.09  355500.0  27500.0  335000.0  355500.0  332000.0  2463503.0
 9   2020.07.08  328000.0  17500.0  312000.0  328000.0  305000.0  1869663.0
 10  2020.07.07  310500.0  10000.0  306500.0  318000.0  304000.0  1552820.0
 11  2020.07.06  300500.0   6500.0  298000.0  307500.0  297000.0  1344851.0
 12  2020.07.03  294000.0   8500.0  289500.0  297000.0  284000.0  1604493.0
 13  2020.07.02  285500.0  16000.0  273500.0  285500.0  273000.0  1378545.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.07.01  269500.0   2000.0  271500.0  275000.0  267500.0   578023.0
 2   2020.06.30  267500.0      0.0  272000.0  273000.0  267500.0   624089.0
 3   2020.06.29  267500.0   7000.0  269000.0  273500.0  266000.0   778818.0
 4   2020.06.26  274500.0      0.0  279500.0  280000.0  268000.0   812726.0
 5   2020.06.25  274500.0   8000.0  278500.0  282000.0  273500.0   900258.0
 9   2020.06.24  282500.0   1000.0  281500.0  284000.0  275000.0  1081233.0
 10  2020.06.23  281500.0   7500.0  279000.0  289000.0  277000.0  2166267.0
 11  2020.06.22  274000.0  10500.0  263500.0  276000.0  260500.0  2008656.0
 12  2020.06.19  263500.0      0.0  267500.0  269500.0  262000.0   920126.0
 13  2020.06.18  263500.0    500.0  264500.0  267000.0  260500.0   981144.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.06.17  263000.0      0.0  261500.0  268000.0  258000.0  1162204.0
 2   2020.06.16  263000.0  10500.0  260500.0  263000.0  258000.0   915456.0
 3   2020.06.15  252500.0  13500.0  266000.0  271000.0  250000.0  1549230.0
 4   2020.06.12  266000.0   1000.0  256500.0  268000.0  256000.0  1688975.0
 5   2020.06.11  265000.0   3000.0  264000.0  268000.0  261000.0  1724551.0
 9   2020.06.10  262000.0   7500.0  256500.0  263500.0  256500.0  1575452.0
 10  2020.06.09  254500.0   2000.0  255500.0  259500.0  252500.0   834862.0
 11  2020.06.08  256500.0   5500.0  252500.0  258000.0  248500.0  1417078.0
 12  2020.06.05  251000.0   3000.0  253000.0  253500.0  247500.0  1007264.0
 13  2020.06.04  254000.0   4500.0  247500.0  257000.0  247000.0  1228950.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.06.03  249500.0  10000.0  259500.0  261500.0  247500.0  2302391.0
 2   2020.06.02  259500.0   4500.0  262500.0  263000.0  257000.0   978846.0
 3   2020.06.01  264000.0    500.0  263500.0  266000.0  259500.0  1083698.0
 4   2020.05.29  263500.0   3500.0  263500.0  267500.0  257500.0  1645822.0
 5   2020.05.28  267000.0   6500.0  257500.0  270000.0  252500.0  2495048.0
 9   2020.05.27  260500.0   9500.0  262000.0  267000.0  257000.0  2015974.0
 10  2020.05.26  270000.0   2000.0  273500.0  279500.0  261000.0  3274293.0
 11  2020.05.25  268000.0  21000.0  251000.0  270000.0  249000.0  2653776.0
 12  2020.05.22  247000.0   9500.0  237500.0  248500.0  235000.0  1887064.0
 13  2020.05.21  237500.0   6000.0  237500.0  240000.0  234500.0  1408737.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.05.20  231500.0  11500.0  223500.0  234500.0  222000.0  1773960.0
 2   2020.05.19  220000.0   1000.0  221500.0  222500.0  214000.0  1308903.0
 3   2020.05.18  221000.0    500.0  221500.0  225500.0  218500.0   744533.0
 4   2020.05.15  221500.0   3500.0  228500.0  231500.0  216000.0  1524083.0
 5   2020.05.14  225000.0   8500.0  216000.0  228000.0  214000.0  1459813.0
 9   2020.05.13  216500.0   2000.0  211500.0  216500.0  211500.0  1113608.0
 10  2020.05.12  214500.0   7000.0  209000.0  216500.0  206000.0  1563095.0
 11  2020.05.11  207500.0   1500.0  207000.0  211500.0  206500.0  1048413.0
 12  2020.05.08  206000.0      0.0  206500.0  210000.0  204000.0  1405404.0
 13  2020.05.07  206000.0   6500.0  199500.0  207500.0  198500.0  2629709.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.05.06  199500.0  13000.0  189000.0  200000.0  188000.0  2035947.0
 2   2020.05.04  186500.0   2500.0  181500.0  190000.0  180000.0  1019409.0
 3   2020.04.29  184000.0   1000.0  184000.0  186500.0  182500.0   659512.0
 4   2020.04.28  185000.0   1000.0  185500.0  186500.0  181500.0   668638.0
 5   2020.04.27  184000.0   1000.0  183000.0  187000.0  181500.0   721963.0
 9   2020.04.24  183000.0   2500.0  184500.0  188500.0  182000.0  1073684.0
 10  2020.04.23  185500.0   8500.0  181500.0  186500.0  180500.0  1509799.0
 11  2020.04.22  177000.0   1500.0  174000.0  177000.0  171500.0   686146.0
 12  2020.04.21  175500.0    500.0  176500.0  177500.0  168500.0  1232126.0
 13  2020.04.20  175000.0   3000.0  172500.0  179000.0  172000.0   859303.0,
             날짜        종가     전일비        시가        고가        저가        거래량
 1   2020.04.17  172000.0  6500.0  169000.0  172500.0  167500.0   947794.0
 2   2020.04.16  165500.0  6000.0  159000.0  167000.0  158500.0  1005533.0
 3   2020.04.14  159500.0  2000.0  159500.0  160500.0  158000.0   430759.0
 4   2020.04.13  157500.0  3500.0  161000.0  161000.0  157000.0   470251.0
 5   2020.04.10  161000.0  3000.0  158500.0  161500.0  157000.0   753323.0
 9   2020.04.09  158000.0     0.0  161000.0  161000.0  157500.0   726920.0
 10  2020.04.08  158000.0  2000.0  159000.0  160500.0  158000.0   738303.0
 11  2020.04.07  160000.0   500.0  163500.0  164500.0  158500.0   920798.0
 12  2020.04.06  160500.0  3000.0  158500.0  161000.0  157500.0   807805.0
 13  2020.04.03  157500.0   500.0  158500.0  159000.0  155000.0   545749.0,
             날짜        종가      전일비        시가        고가        저가        거래량
 1   2020.04.02  157000.0   6500.0  152000.0  157000.0  149000.0  1043790.0
 2   2020.04.01  150500.0   5000.0  156000.0  158500.0  150000.0   794295.0
 3   2020.03.31  155500.0   2500.0  155000.0  159000.0  152000.0  1042474.0
 4   2020.03.30  153000.0    500.0  149500.0  154500.0  147500.0   668254.0
 5   2020.03.27  152500.0   2000.0  156500.0  157000.0  149000.0   958988.0
 9   2020.03.26  150500.0   4000.0  155000.0  156000.0  150000.0   893688.0
 10  2020.03.25  154500.0      0.0  160500.0  162500.0  151000.0  1290376.0
 11  2020.03.24  154500.0  11000.0  150500.0  155000.0  147000.0  1271387.0
 12  2020.03.23  143500.0   6000.0  138000.0  148000.0  137500.0  1569378.0
 13  2020.03.20  149500.0  15500.0  138000.0  151000.0  134500.0  1765756.0]

In [41]:
pd.DataFrame(slicing)

                                                   0
0              날짜        종가      전일비        시가   ...
1              날짜        종가      전일비        시가   ...
2              날짜        종가      전일비        시가   ...
3              날짜        종가      전일비        시가   ...
4              날짜        종가      전일비        시가   ...
5              날짜        종가      전일비        시가   ...
6              날짜        종가      전일비        시가   ...
7              날짜        종가      전일비        시가   ...
8              날짜        종가     전일비        시가    ...
9              날짜        종가      전일비        시가   ...

In [18]:
for i in range(0, 9):
#     if i < 9:
#         for i in range(10):
#         for n in i:
        n = i - 1 
        j = i + 1
        conn = pd.concat([slicing[n], slicing[i]], ignore_index = True)
        conn = pd.concat([conn, slicing[j]], ignore_index = True)
conn
        #         break
#     else:
#         return False

            날짜        종가      전일비        시가        고가        저가        거래량
0   2020.05.06  199500.0  13000.0  189000.0  200000.0  188000.0  2035947.0
1   2020.05.04  186500.0   2500.0  181500.0  190000.0  180000.0  1019409.0
2   2020.04.29  184000.0   1000.0  184000.0  186500.0  182500.0   659512.0
3   2020.04.28  185000.0   1000.0  185500.0  186500.0  181500.0   668638.0
4   2020.04.27  184000.0   1000.0  183000.0  187000.0  181500.0   721963.0
5   2020.04.24  183000.0   2500.0  184500.0  188500.0  182000.0  1073684.0
6   2020.04.23  185500.0   8500.0  181500.0  186500.0  180500.0  1509799.0
7   2020.04.22  177000.0   1500.0  174000.0  177000.0  171500.0   686146.0
8   2020.04.21  175500.0    500.0  176500.0  177500.0  168500.0  1232126.0
9   2020.04.20  175000.0   3000.0  172500.0  179000.0  172000.0   859303.0
10  2020.04.17  172000.0   6500.0  169000.0  172500.0  167500.0   947794.0
11  2020.04.16  165500.0   6000.0  159000.0  167000.0  158500.0  1005533.0
12  2020.04.14  159500.0   2000.0  159500.0  160500.0  158000.0   430759.0
13  2020.04.13  157500.0   3500.0  161000.0  161000.0  157000.0   470251.0
14  2020.04.10  161000.0   3000.0  158500.0  161500.0  157000.0   753323.0
15  2020.04.09  158000.0      0.0  161000.0  161000.0  157500.0   726920.0
16  2020.04.08  158000.0   2000.0  159000.0  160500.0  158000.0   738303.0
17  2020.04.07  160000.0    500.0  163500.0  164500.0  158500.0   920798.0
18  2020.04.06  160500.0   3000.0  158500.0  161000.0  157500.0   807805.0
19  2020.04.03  157500.0    500.0  158500.0  159000.0  155000.0   545749.0
20  2020.04.02  157000.0   6500.0  152000.0  157000.0  149000.0  1043790.0
21  2020.04.01  150500.0   5000.0  156000.0  158500.0  150000.0   794295.0
22  2020.03.31  155500.0   2500.0  155000.0  159000.0  152000.0  1042474.0
23  2020.03.30  153000.0    500.0  149500.0  154500.0  147500.0   668254.0
24  2020.03.27  152500.0   2000.0  156500.0  157000.0  149000.0   958988.0
25  2020.03.26  150500.0   4000.0  155000.0  156000.0  150000.0   893688.0
26  2020.03.25  154500.0      0.0  160500.0  162500.0  151000.0  1290376.0
27  2020.03.24  154500.0  11000.0  150500.0  155000.0  147000.0  1271387.0
28  2020.03.23  143500.0   6000.0  138000.0  148000.0  137500.0  1569378.0
29  2020.03.20  149500.0  15500.0  138000.0  151000.0  134500.0  1765756.0

In [19]:
slicing[9]

            날짜        종가      전일비        시가        고가        저가        거래량
1   2020.04.02  157000.0   6500.0  152000.0  157000.0  149000.0  1043790.0
2   2020.04.01  150500.0   5000.0  156000.0  158500.0  150000.0   794295.0
3   2020.03.31  155500.0   2500.0  155000.0  159000.0  152000.0  1042474.0
4   2020.03.30  153000.0    500.0  149500.0  154500.0  147500.0   668254.0
5   2020.03.27  152500.0   2000.0  156500.0  157000.0  149000.0   958988.0
9   2020.03.26  150500.0   4000.0  155000.0  156000.0  150000.0   893688.0
10  2020.03.25  154500.0      0.0  160500.0  162500.0  151000.0  1290376.0
11  2020.03.24  154500.0  11000.0  150500.0  155000.0  147000.0  1271387.0
12  2020.03.23  143500.0   6000.0  138000.0  148000.0  137500.0  1569378.0
13  2020.03.20  149500.0  15500.0  138000.0  151000.0  134500.0  1765756.0

---------------------- 끝입니다--------------------

In [20]:
header = ["날짜", "종가", "전일비", "시가", "고가", "저가", "거래량"]

In [21]:
response = requests.get(base_url)
response

In [22]:
html = bs(response.text)

In [23]:
all_sise = []

def crawling_sise(pnum):
    url = f"{base_url}{pnum}"
    response = requests.get(url)
    
    if response.status_code == 200:
        table = pd.read_html(url)
        return table
    else:
        return False

In [24]:
all_sise

[]

In [25]:
all_table = []
def crawling_all_sise(pnum):
    table = crawling_sise(pnum)
    if table:
        all_table.extend(table)
        pnum = pnum + 1
        return crawling_all_sise(pnum)
    else:
        return all_table

In [26]:
len(html.find_all('span'))

71

In [27]:
html.find_all("span")[8].text

'2020.08.11'

In [28]:
날짜 = []
종가 = []
전일비 = []
시가 = []
고가 = []
저가 = []
거래량 = []
for i in range(10):
    날짜.append(html.find_all("span")[i * 7 + 1].text)
    종가.append(html.find_all("span")[i * 7 + 2].text)
    전일비.append(html.find_all("span")[i * 7 + 3].text)
    시가.append(html.find_all("span")[i * 7 + 4].text)
    고가.append(html.find_all("span")[i * 7 + 5].text)
    저가.append(html.find_all("span")[i * 7 + 6].text)
    거래량.append(html.find_all("span")[i * 7].text)

In [29]:
def parse_span(span):
    info = []
    
    날짜 = span.select("span")

In [30]:
trs[0].select("td")[1].get_text()

NameError: name 'trs' is not defined

In [64]:
spans = html.find_all("span")
spans

[<span class="red03">일별</span>,
 <span class="tah p10 gray03">2020.08.12</span>,
 <span class="tah p11">353,500</span>,
 <span class="tah p11 red02">
 				1,000
 				</span>,
 <span class="tah p11">348,500</span>,
 <span class="tah p11">355,000</span>,
 <span class="tah p11">347,500</span>,
 <span class="tah p11">479,367</span>,
 <span class="tah p10 gray03">2020.08.11</span>,
 <span class="tah p11">352,500</span>,
 <span class="tah p11 nv01">
 				3,500
 				</span>,
 <span class="tah p11">351,500</span>,
 <span class="tah p11">357,000</span>,
 <span class="tah p11">347,500</span>,
 <span class="tah p11">750,285</span>,
 <span class="tah p10 gray03">2020.08.10</span>,
 <span class="tah p11">356,000</span>,
 <span class="tah p11 red02">
 				3,000
 				</span>,
 <span class="tah p11">346,000</span>,
 <span class="tah p11">358,500</span>,
 <span class="tah p11">341,500</span>,
 <span class="tah p11">1,086,391</span>,
 <span class="tah p10 gray03">2020.08.07</span>,
 <span class="tah p11">353,000</span>,
 <span class="tah p11 nv01">
 				11,000
 				</span>,
 <span class="tah p11">368,000</span>,
 <span class="tah p11">370,000</span>,
 <span class="tah p11">350,500</span>,
 <span class="tah p11">1,899,111</span>,
 <span class="tah p10 gray03">2020.08.06</span>,
 <span class="tah p11">364,000</span>,
 <span class="tah p11 nv01">
 				6,500
 				</span>,
 <span class="tah p11">358,500</span>,
 <span class="tah p11">372,500</span>,
 <span class="tah p11">357,500</span>,
 <span class="tah p11">1,848,898</span>,
 <span class="tah p10 gray03">2020.08.05</span>,
 <span class="tah p11">370,500</span>,
 <span class="tah p11 red02">
 				500
 				</span>,
 <span class="tah p11">366,000</span>,
 <span class="tah p11">371,000</span>,
 <span class="tah p11">362,500</span>,
 <span class="tah p11">1,075,879</span>,
 <span class="tah p10 gray03">2020.08.04</span>,
 <span class="tah p11">370,000</span>,
 <span class="tah p11 red02">
 				4,000
 				</span>,
 <span class="tah p11">378,500</span>,
 <span class="tah p11">384,000</span>,
 <span class="tah p11">361,000</span>,
 <span class="tah p11">1,714,642</span>,
 <span class="tah p10 gray03">2020.08.03</span>,
 <span class="tah p11">366,000</span>,
 <span class="tah p11 red02">
 				22,500
 				</span>,
 <span class="tah p11">347,500</span>,
 <span class="tah p11">366,000</span>,
 <span class="tah p11">347,000</span>,
 <span class="tah p11">1,636,803</span>,
 <span class="tah p10 gray03">2020.07.31</span>,
 <span class="tah p11">343,500</span>,
 <span class="tah p11 red02">
 				11,500
 				</span>,
 <span class="tah p11">336,000</span>,
 <span class="tah p11">344,000</span>,
 <span class="tah p11">335,500</span>,
 <span class="tah p11">1,078,837</span>,
 <span class="tah p10 gray03">2020.07.30</span>,
 <span class="tah p11">332,000</span>,
 <span class="tah p11 red02">
 				500
 				</span>,
 <span class="tah p11">336,000</span>,
 <span class="tah p11">337,000</span>,
 <span class="tah p11">331,500</span>,
 <span class="tah p11">615,872</span>]

In [59]:
len(span)

71

In [63]:
span[2].get_text()

'353,500'

In [ ]:
def parse_span(span):
    info = []
    
    날짜 = span.get_text()

In [340]:
종가

['352,500',
 '356,000',
 '353,000',
 '364,000',
 '370,500',
 '370,000',
 '366,000',
 '343,500',
 '332,000',
 '331,500']